{:format :v3,
 :transitions
 [{:name :transition/enquire
   :actor :actor.role/customer
   :actions []
   :to :state/enquiry}
  {:name :transition/request-payment
   :actor :actor.role/customer
   :actions [{:name :action/create-booking
              :config {:observe-availability? true}}
             {:name :action/calculate-tx-daily-total-price}
             {:name :action/calculate-tx-provider-commission
              :config {:commission 0.25M}}
             {:name :action/calculate-tx-customer-commission
              :config {:commission 0.55M}}
             {:name :action/stripe-create-payment-intent}]
   :to :state/pending-payment}
  {:name :transition/first-time-request
   :actor :actor.role/customer
   :actions [{:name :action/create-booking
              :config {:observe-availability? true}}
             {:name :action/calculate-tx-daily-total-price}
             {:name :action/calculate-tx-provider-commission
              :config {:commission 0.25M}}
             {:name :action/calculate-tx-customer-commission
              :config {:commission 0.15M}}
             {:name :action/stripe-create-payment-intent}]
   :to :state/pending-payment}

  {:name :transition/request-after-enquiry
   :actor :actor.role/customer
   :actions [{:name :action/create-booking
              :config {:observe-availability? true}}
             {:name :action/calculate-tx-daily-total-price}
             {:name :action/calculate-tx-provider-commission
              :config {:commission 0.25M}}
             {:name :action/calculate-tx-customer-commission
              :config {:commssion 0.55M}}
             {:name :action/stripe-create-payment-intent}]
   :from :state/enquiry
   :to :state/pending-payment}
  {:name :transition/first-time-request-after-enquiry
   :actor :actor.role/customer
   :actions [{:name :action/create-booking
              :config {:observe-availability? true}}
             {:name :action/calculate-tx-daily-total-price}
             {:name :action/calculate-tx-provider-commission
              :config {:commission 0.25M}}
             {:name :action/calculate-tx-customer-commission
              :config {:commission 0.15M}}
             {:name :action/stripe-create-payment-intent}]
   :from :state/enquiry
   :to :state/pending-payment}

  {:name :transition/expire-payment
   :at {:fn/plus
        [{:fn/timepoint
          [:time/first-entered-state
           :state/pending-payment]}
         {:fn/period ["PT15M"]}]}
   :actions [{:name :action/decline-booking}
             {:name :action/calculate-full-refund}
             {:name :action/stripe-refund-payment}]
   :from :state/pending-payment
   :to :state/payment-expired}
  {:name :transition/confirm-payment
   :actor :actor.role/customer
   :actions [{:name :action/stripe-confirm-payment-intent}]
   :from :state/pending-payment
   :to :state/preauthorized}
  {:name :transition/customer-cancel-from-pending-payment
   :actor :actor.role/customer
   :actions [{:name :action/decline-booking}
             {:name :action/calculate-full-refund}
             {:name :action/stripe-refund-payment}]
   :from :state/pending-payment
   :to :state/declined}

  {:name :transition/customer-cancel-from-preauthorized
   :actor :actor.role/customer
   :actions [{:name :action/decline-booking}
             {:name :action/calculate-full-refund}
             {:name :action/stripe-refund-payment}]
   :from :state/preauthorized
   :to :state/declined}
  {:name :transition/provider-decline
   :actor :actor.role/provider
   :actions [{:name :action/decline-booking}
             {:name :action/calculate-full-refund}
             {:name :action/stripe-refund-payment}]
   :from :state/preauthorized
   :to :state/declined}
  {:name :transition/expire-from-preauthorized
   :at {:fn/min
        [{:fn/plus
          [{:fn/timepoint
            [:time/first-entered-state
             :state/preauthorized]}
           {:fn/period ["P3D"]}]}
         {:fn/minus
          [{:fn/timepoint [:time/booking-display-start]}
           {:fn/period ["PT12H"]}]}]}
   :actions [{:name :action/decline-booking}
             {:name :action/calculate-full-refund}
             {:name :action/stripe-refund-payment}]
   :from :state/preauthorized
   :to :state/declined}
  {:name :transition/accept
   :actor :actor.role/provider
   :actions [{:name :action/accept-booking}
             {:name :action/stripe-capture-payment-intent}]
   :from :state/preauthorized
   :to :state/accepted}
  {:name :transition/expire-1-refund-period
   :at {:fn/plus
        [{:fn/timepoint
          [:time/first-entered-state
           :state/preauthorized]}
         {:fn/period ["PT48H"]}]}
   :actions []
   :from :state/preauthorized
   :to :state/booking-expire-refund-period-1}
  
  {:name :transition/operator-cancel-from-accepted
   :actor :actor.role/operator
   :actions [{:name :action/cancel-booking}
             {:name :action/calculate-full-refund}
             {:name :action/stripe-refund-payment}]
   :from :state/accepted
   :to :state/cancelled}
  {:name :transition/customer-cancel-from-accepted
   :actor :actor.role/customer
   :actions [{:name :action/cancel-booking}
             {:name :action/calculate-full-refund}
             {:name :action/stripe-refund-payment}]
   :from :state/accepted
   :to :state/cancelled}
  {:name :transition/provider-cancel-from-accepted
   :actor :actor.role/provider
   :actions [{:name :action/cancel-booking}
             {:name :action/calculate-full-refund}
             {:name :action/stripe-refund-payment}]
   :from :state/accepted
   :to :state/cancelled}
  {:name :transition/complete-from-accepted
   :at {:fn/timepoint [:time/booking-end]}
   :actions [{:name :action/stripe-create-payout}]
   :from :state/accepted
   :to :state/delivered}
  {:name :transition/expire-2-refund-period
   :at {:fn/plus
        [{:fn/timepoint
          [:time/first-entered-state
           :state/preauthorized]}
         {:fn/period ["PT48H"]}]}
   :actions []
   :from :state/accepted
   :to :state/booking-expire-refund-period}
  {:name :transition/expire-customer-cancel-1
   :at {:fn/minus
        [{:fn/timepoint
          [:time/booking-display-start]}
         {:fn/period ["PT1H"]}]}
   :actions []
   :from :state/accepted
   :to :state/expired-customer-cancel-1}

  {:name :transition/accept-from-BERP1
   :actor :actor.role/provider
   :actions []
   :from :state/booking-expire-refund-period-1
   :to :state/accepted}
  {:name :transition/provider-decline-from-BERP1
   :actor :actor.role/provider
   :actions [{:name :action/decline-booking}
             {:name :action/calculate-full-refund}
             {:name :action/stripe-refund-payment}]
   :from :state/booking-expire-refund-period-1
   :to :state/declined}
  {:name :transition/expire-from-BERP1
   :at {:fn/min
        [{:fn/plus
          [{:fn/timepoint
            [:time/first-entered-state
             :state/preauthorized]}
           {:fn/period ["P3D"]}]}
         {:fn/minus
          [{:fn/timepoint [:time/booking-display-start]}
           {:fn/period ["PT12H"]}]}]}
   :actions [{:name :action/decline-booking}
             {:name :action/calculate-full-refund}
             {:name :action/stripe-refund-payment}]
   :from :state/booking-expire-refund-period-1
   :to :state/declined}
  {:name :transition/customer-cancel-from-BERP1
   :actor :actor.role/customer
   :actions [{:name :action/cancel-booking}]
   :from :state/booking-expire-refund-period-1
   :to :state/cancelled}
  
  {:name :transition/complete-from-BERP
   :at {:fn/timepoint [:time/booking-end]}
   :actions [{:name :action/stripe-create-payout}]
   :from :state/booking-expire-refund-period
   :to :state/delivered}
  {:name :transition/operator-cancel-from-BERP
   :actor :actor.role/operator
   :actions [{:name :action/cancel-booking}
             {:name :action/calculate-full-refund}
             {:name :action/stripe-refund-payment}]
   :from :state/booking-expire-refund-period
   :to :state/cancelled}
  {:name :transition/provider-cancel-from-BERP
   :actor :actor.role/provider
   :actions [{:name :action/cancel-booking}
             {:name :action/calculate-full-refund}
             {:name :action/stripe-refund-payment}]
   :from :state/booking-expire-refund-period
   :to :state/cancelled}
  {:name :transition/customer-cancel-from-BERP
   :actor :actor.role/customer
   :actions [{:name :action/cancel-booking}]
   :from :state/booking-expire-refund-period
   :to :state/cancelled}
  {:name :transition/expire-customer-cancel-from-BERP
   :at {:fn/minus
        [{:fn/timepoint
          [:time/booking-display-start]}
         {:fn/period ["PT1H"]}]}
   :actions [{:name :action/stripe-create-payout}]
   :from :state/booking-expire-refund-period
   :to :state/expired-customer-cancel-1}

  {:name :transition/complete-from-ECC1
   :at {:fn/timepoint [:time/booking-end]}
   :actions [{:name :action/stripe-create-payout}]
   :from :state/expired-customer-cancel-1
   :to :state/delivered}
  {:name :transition/operator-cancel-from-ECC1
   :actor :actor.role/operator
   :actions [{:name :action/cancel-booking}
             {:name :action/calculate-full-refund}
             {:name :action/stripe-refund-payment}]
   :from :state/expired-customer-cancel-1
   :to :state/cancelled}
  {:name :transition/provider-cancel-from-ECC1
   :actor :actor.role/provider
   :actions [{:name :action/cancel-booking}
             {:name :action/calculate-full-refund}
             {:name :action/stripe-refund-payment}]
   :from :state/expired-customer-cancel-1
   :to :state/cancelled}
  
  {:name :transition/review-1-by-provider
   :actor :actor.role/provider
   :actions [{:name :action/post-review-by-provider}]
   :from :state/delivered
   :to :state/reviewed-by-provider}
  {:name :transition/review-1-by-customer
   :actor :actor.role/customer
   :actions [{:name :action/post-review-by-customer}]
   :from :state/delivered
   :to :state/reviewed-by-customer}
  {:name :transition/expire-review-period
   :at
   {:fn/plus
    [{:fn/timepoint [:time/booking-end]} {:fn/period ["P7D"]}]}
   :actions []
   :from :state/delivered
   :to :state/reviewed}

  {:name :transition/review-2-by-provider
   :actor :actor.role/provider
   :actions
   [{:name :action/post-review-by-provider}
    {:name :action/publish-reviews}]
   :from :state/reviewed-by-customer
   :to :state/reviewed}
  {:name :transition/expire-provider-review-period
   :at
   {:fn/plus
    [{:fn/timepoint [:time/booking-end]} {:fn/period ["P7D"]}]}
   :actions [{:name :action/publish-reviews}]
   :from :state/reviewed-by-customer
   :to :state/reviewed}

  {:name :transition/review-2-by-customer
   :actor :actor.role/customer
   :actions
   [{:name :action/post-review-by-customer}
    {:name :action/publish-reviews}]
   :from :state/reviewed-by-provider
   :to :state/reviewed}
  {:name :transition/expire-customer-review-period
   :at
   {:fn/plus
    [{:fn/timepoint [:time/booking-end]} {:fn/period ["P7D"]}]}
   :actions [{:name :action/publish-reviews}]
   :from :state/reviewed-by-provider
   :to :state/reviewed}
  ]
 
 :notifications
 [{:name :notification/new-booking-request
   :on :transition/confirm-payment
   :to :actor.role/provider
   :template :new-booking-request}
  {:name :notification/booking-request-accepted
   :on :transition/accept
   :to :actor.role/customer
   :template :booking-request-accepted}
  {:name :notification/booking-request-declined
   :on :transition/provider-decline
   :to :actor.role/customer
   :template :booking-request-declined}
  {:name :notification/booking-request-auto-declined
   :on :transition/expire-from-preauthorized
   :to :actor.role/customer
   :template :booking-request-auto-declined}
  {:name :notification/money-paid-1
   :on :transition/complete-from-accepted
   :to :actor.role/provider
   :template :money-paid}
  {:name :notification/money-paid-2
   :on :transition/complete-from-BERP
   :to :actor.role/provider
   :template :money-paid}
  {:name :notification/review-period-start-provider-1
   :on :transition/complete-from-accepted
   :to :actor.role/provider
   :template :review-by-provider-wanted}
  {:name :notification/review-period-start-provider-2
   :on :transition/complete-from-BERP
   :to :actor.role/provider
   :template :review-by-provider-wanted}
  {:name :notification/review-period-start-customer-1
   :on :transition/complete-from-accepted
   :to :actor.role/customer
   :template :review-by-customer-wanted}
  {:name :notification/review-period-start-customer-2
   :on :transition/complete-from-BERP
   :to :actor.role/customer
   :template :review-by-customer-wanted}
  {:name :notification/review-by-provider-first
   :on :transition/review-1-by-provider
   :to :actor.role/customer
   :template :review-by-other-party-unpublished}
  {:name :notification/review-by-customer-first
   :on :transition/review-1-by-customer
   :to :actor.role/provider
   :template :review-by-other-party-unpublished}
  {:name :notification/review-by-provider-second
   :on :transition/review-2-by-provider
   :to :actor.role/customer
   :template :review-by-other-party-published}
  {:name :notification/review-by-customer-second
   :on :transition/review-2-by-customer
   :to :actor.role/provider
   :template :review-by-other-party-published}]
 }